@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}



.myContainer
{
    background: url("../../../RawData/jj2.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}


/* body {
    background-image: url("../../../RawData/jj2.png");
    background-repeat: no-repeat;
    background-size: '100% 100%';
    background-position: '0% 0%';
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
} */
/* body {
    background: url("../../../RawData/jj2.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
} */
.box {
    position: relative;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px
}


@media screen and (max-width : 1200px)
{
    .box {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px
    }

}

@media screen and (max-width : 2000px)
{
    .box {
        position: relative;
        width: 90%;
        padding-right: 15px;
        padding-left: 15px
    }

}


.our-services {
    margin-top: 65px;
    padding-bottom: 30px;
    padding: 0 60px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    /* box-shadow: 0 0 30px 0 rgba(20, 27, 202, .17) */  /* for white bg */
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.829)  /* for picture bg */

}

.myLink {
    text-decoration: none;
    color: black;
}

.myLink:hover {
    text-decoration: none;
}

.our-services .icon {
    margin-bottom: -21px;
    transform: translateY(-50%);
    text-align: center
}

.our-services:hover h4,
.our-services:hover p {
    color: #fff;
}

.speedup:hover {
    /* box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05); for bg picture */
    box-shadow: 0 0 25px 0 linear-gradient(-45deg, #fb0054 0%, #f5592ac5 100%); /* for white */
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
    transform: scale(1.1)
}

.settings:hover {
    /* box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05); */
    box-shadow: 0 0 25px 0 linear-gradient(-45deg, #34b5bf 0%, #210c59d7 100%); /* for white */
    cursor: pointer;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
    transform: scale(1.1)
}

.privacy:hover {
    /* box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05); */
    /* box-shadow: 0 0 25px 0 linear-gradient(-45deg, #3615e7 0%, #44a3f6d2 100%); for white */
    cursor: pointer;
    /* background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%); */
    background-image: linear-gradient(-45deg, #4d0750 0%, #f014f7 100% );
    transform: scale(1.1)
}

.backups:hover {
    /* box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05); */
    box-shadow: 0 0 25px 0 linear-gradient(-45deg, #fc6a0e 0%, #fdb542de 100%); /* for white */
    cursor: pointer;
    background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%);
    transform: scale(1.1)
}

.shape {
    border-top-left-radius: 50px 100px;
    border-bottom-left-radius: 50px 100px;
}

.ssl:hover {
    /* box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05); */
    box-shadow: 0 0 25px 0 linear-gradient(-45deg, #8d40fb 0%, #5a57fbbe 100%); /* for white */
    cursor: pointer;
    background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%);
    transform: scale(1.1)
}

.database:hover {
    /* box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05); */
    /* box-shadow: 0 0 25px 0 linear-gradient(-45deg, #27b88d 0%, #22dd73b4 100%); for white */
    cursor: pointer;
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
    transform: scale(1.1)
}

.icon-create {
    margin-left: 32%;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
    border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
    height: 87px !important;
    width: 95px !important;
    padding-top: 2%;
}

.bottomText
{
    bottom : 0%;
    position: relative;
    width : 100%;
    font-size: small;
}

.svgIcons {
    height: 50px ;
    width: 50px;
    color: whitesmoke
}
.dollerIcon 
{
    height: 100%;
    width: 100%;
    margin-top: 15%;
    color: white;
}


@media screen and (min-width : 767px)
{
    .bottomText
{
    bottom : 0%;
    position: fixed;
    width : 100%;
    font-size: large;
}

}

@media screen and (min-width : 1300px)
{
    .icon-create {
        margin-left: 38%;
        background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
        border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
        height: 87px !important;
        width: 95px !important;
        padding-top: 3%;
    }

    .bottomText
{
    bottom : 0%;
    position: fixed;
    width : 100%;
    font-size: small;
}

.svgIcons {
    height: 50px ;
    width: 50px ;
    color: white
}
.dollerIcon 
{
    height: 120%;
    width: 120%;
    margin-top: 15%;
    color: white;
}

}
@media screen and (min-width : 1700px)
{
    .icon-create {
        margin-left: 42%;
        background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
        border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
        height: 87px !important;
        width: 95px !important;
        padding-top: 2%;
    }

    .bottomText
{
    bottom : 10%;
    position: fixed;
    width : 100%;
    font-size: large;
}

.svgIcons {
    height: 50px ;
    width: 50px;
    color: white
}

}


/* .icon-create:hover {
    background-image: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);

}  */


/* .create:hover .icon-create{
  background-image: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
}


.create:hover .createImgColor{
    fill: rgb(209, 20, 20);
}

.createImgColor{
    fill: #fff;
} */

.icon-report{
    margin-left: 32%;
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
    border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
    height: 87px !important;
    width: 95px !important;
    padding-top: 7%;
}

@media screen and (min-width : 1300px)
{
    .icon-report {
        margin-left: 38%;
        background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
        border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
        height: 87px !important;
        width: 95px !important;
        padding-top: 3%;
    }

}
@media screen and (min-width : 1700px)
{
    .icon-report {
        margin-left: 42%;
        background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
        border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
        height: 87px !important;
        width: 95px !important;
        padding-top: 2%;
    }

}

/* .icon-report:hover {
    background-image: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
}

.report:hover .icon-report {
    background-image: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
}

.report:hover .reportImgColor {
    fill: rgb(209, 20, 20);
}

.reportImgColor {
    fill: #fff;
} */

.icon-query {
    margin-left: 32%;
    background-image: linear-gradient(-45deg, #4d0750 0%, #f014f7 100% );
    border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
    height: 87px !important;
    width: 95px !important;
    padding-top: 7%;
}

@media screen and (min-width : 1300px)
{
    .icon-query {
        margin-left: 38%;
        background-image: linear-gradient(-45deg, #4d0750 0%, #f014f7 100% );
        border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
        height: 87px !important;
        width: 95px !important;
        padding-top: 3%;
    }

}
@media screen and (min-width : 1700px)
{
    .icon-query {
        margin-left: 42%;
        background-image: linear-gradient(-45deg, #4d0750 0%, #f014f7 100% );
        border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
        height: 87px !important;
        width: 95px !important;
        padding-top: 2%;
    }

}

/* .icon-query:hover {
    background-image: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
} */

/* .query:hover .icon-query {
    background-image: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
}

.query:hover .queryImgColor {
    fill: rgb(209, 20, 20);
}

.queryImgColor {
    fill: #fff;
} */

.icon-scanQR {
    margin-left: 32%;
    background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
    border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
    height: 87px !important;
    width: 95px !important;
    padding-top: 7%;
    padding-left: 2%;
}

@media screen and (min-width : 1300px)
{
    .icon-scanQR {
        margin-left: 38%;
        background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
        border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
        height: 87px !important;
        width: 95px !important;
        padding-top: 3%;
    }

}
@media screen and (min-width : 1700px)
{
    .icon-scanQR {
        margin-left: 42%;
        background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
        border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
        height: 87px !important;
        width: 95px !important;
        padding-top: 2%;
    }

}



/* .icon-scanQR:hover {
    background-image: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
}

.scanQR:hover .icon-scanQR {
    background-image: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
}

.scanQR:hover .scanQRImgColor {
    fill: rgb(209, 20, 20);
}

.scanQRImgColor {
    fill: #fff;
} */

.icon-payment {
    margin-left: 32%;
    background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%);
    border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
    height: 87px !important;
    width: 95px !important;
    padding-top: 7%;
    padding-left: 2%;
}



@media screen and (min-width : 1300px)
{
    .icon-payment {
        margin-left: 38%;
        background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%);
        border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
        height: 87px !important;
        width: 95px !important;
        padding-top: 3%;
    }

}
@media screen and (min-width : 1700px)
{
    .icon-payment {
        margin-left: 42%;
        background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%);
        border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
        height: 87px !important;
        width: 95px !important;
        padding-top: 2%;
    }

}
/* .icon-payment:hover {
    background-image: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
}

.payment:hover .icon-payment {
    background-image: linear-gradient(-45deg, #ffffff 0%, #ffffff 100%);
}

.payment:hover .paymentImgColor {
    fill: rgb(209, 20, 20);
}

.paymentImgColor {
    fill: #fff;
} */

.icon-speedUp {
    margin-left: 32%;
    background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%);
    border-radius: 63% 41% 39% 48% / 73% 54% 41% 34% !important;
    height: 87px !important;
    width: 95px !important;
    padding-top: 7%;
    padding-left: 2%;
}

.colors {
    background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
}